<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] | Blunderr</title>
    <link rel="stylesheet" href="~/css/Shared/main.css" />
    @await RenderSectionAsync("Styles", false)
</head>
<body>
    @if ((string?)ViewData["hasNav"] != "false")
    {
        <partial name="_Nav" />
        <main>
            <div id="dashboard-content" data-sidebar-hidden="false">
                @RenderBody()
            </div>
        </main>
    }
    else
    {
        <main>
            @RenderBody()
        </main>
    }
    <div class="popup-inactive" id="popup-backdrop"></div>
    
    <script src="~/js/Shared/nav.js"></script>
    <script src="~/js/Shared/popup.js"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>