$navyBlue: #161B24;
$darkNavyBlue: #13171F;
$babyBlue: #2B84FF;
$red: #D12C35;
$green: #00BF20;
$yellow: #E6C300;
$offBlack: #171717;
$darkGrey: #414141;
$mediumGrey: #5D5D5D;
$placeholderGrey: #A3A3A3;
$lightGrey: #D1D1D1;
$offWhite: #F8F8F8;
$white: #FFF;

$headerHeight: calc(2rem + 7.8vh);
$sidebarWidth: calc(13.5rem + 3.5vw);
$sidebarCollapseSpeed: 0.12s;