@page "{TicketId:int}"
@model Blunderr.Web.Pages.Tickets.Edit
@using Blunderr.Core.Data.Entities.Tickets
@{
    ViewData["Title"] = "Edit Ticket " + Model.TicketId;
}

@section Styles{
    <link rel="stylesheet" href="~/css/Shared/form.css">
}

<h1 class="form-heading">@ViewData["Title"]</h1>

<form enctype="multipart/form-data" method="post">
    <div class="input-container">
        <label for="title">Title</label>
        <input type="text" id="title" placeholder="Enter Title" asp-for="SaveRequest.Title" required>
    </div>
    <div class="input-container">
        <label for="type">Type</label>
        <select id="type" asp-for="SaveRequest.Type" required>
            <option value="" disabled>Select Type</option>
            <option value=@TicketType.BugIssue>Bug/Issue</option>
            <option value=@TicketType.DocumentationRequest>Documentation Request</option>
            <option value=@TicketType.FeatureRequest>Feature Request</option>
            <option value=@TicketType.Other>Other</option>
        </select>
    </div>
    <div class="input-container">
        <label for="priority">Priority</label>
        <select id="priority" asp-for="SaveRequest.Priority" required>
            <option value="" disabled>Select Priority</option>
            <option value=@TicketPriority.Low>Low</option>
            <option value=@TicketPriority.Medium>Medium</option>
            <option value=@TicketPriority.High>High</option>
        </select>
    </div>
    <div class="input-container">
        <label for="description">Description</label>
        <textarea id="description" asp-for="SaveRequest.Description" required></textarea>
    </div>
    <div class="buttons-container">
        <a asp-page="/Tickets/Show" asp-route-TicketId=@Model.TicketId class="button button-white">Cancel</a>
        <input type="submit" value="Submit" class="button button-blue">
    </div>
</form>

@section Scripts{
    <script src="~/js/Shared/form.js"></script>
}